#desktopMenu{
  color: black;
  height: 70vh;
  display: flex;
  
  justify-content: center;
  /* This centers the menu boxes relative to each other. */
}

#menuContainer{
  display: flex;
  width: 600px;
  display: flex;
  
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  /* This centers the menu in the middle of the page */
}

#menuContainer>div{
  flex: 1;
  /* This will stretch each box horizontally so that they will occupy entire width of the #menuContainer */
}

#desktopContainer{
  height: 100vh;
  transition: background-color .4s ease-in-out, color .2s ease-in;
}

.desktopBox{
  
  display: flex;
  justify-content: center;
  align-items: center;
  /* The flex above centers text in the box */

  transition: height .1s ease-in;

  margin: 4px;
  border-radius: 10px;
  font-family: 'Courier Prime', sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 800;
}

.toggle{
  padding: 10px 20px;
}

#algorithms{
  background-color: rgb(99,175,244);
}

#about{
  background-color:rgb(252,204,6);
}

#contact{
  background-color:rgb(228,192,114);
}

#projects{
  background-color: rgb(224,105,116);
}

@media screen and (max-width: 420px){
  #desktopMenu{
    display: none;
  }
}

@media screen and (max-width: 560px){
  #desktopMenu{
    width: 440px;
  }
  .desktopBox{
    height: 150px;
  }
}

@media screen and (max-height: 700px){
  #desktopMenu{
    min-height: 100px;
  }
  #menuContainer{
    height: 330px;
  }

  .desktopBox{
    max-width: 180px;
    height: 140px;
  }
}

@media screen and (max-height: 500px){
  #menuContainer{
    display: none;
  }
}
/* Since the boxes might take a lots of space in mobile screen, I've removed them if the screen withd is less than 500px */