#desktopHeading{
  color: rgb(228, 227, 227);
  min-height: 190px;
  max-height: 190px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#headerMenu{
  display: none;
  /* initial value of this should be none */
  justify-content: center;
  flex-wrap: wrap;
  font-family: 'Courier Prime', sans-serif;
  font-size: 18px;
  text-transform: uppercase;
}

#header{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 20px;
}

.headerMenuElement{
  padding: 20px 20px;
}

@media screen and (max-width: 430px){
  .headerMenuElement{
    padding: 20px 10px;
  }
  #headerMenu{
    font-size: 14px;
    display: flex;
  }
}

@media screen and (max-width: 485px){
  .headerMenuElement{
    padding: 20px 6px;
  }
  #headerMenu{
    font-size: 15px;
  }
}

@media screen and (max-width: 320px){
  h1{
    font-size: 1.5rem;
  }

  h3{
    font-size: 1rem;
  }
  .headerMenuElement{
    padding: 20px 5px;
  }
  #header{
    padding: 15px;
  }
  #desktopHeading{
    min-height: 150px;
  }
  
  #headerMenu{
    font-size: 14px;
  }
}

@media screen and (max-height: 500px){
  #headerMenu{
    display: flex;
  }
}
/* Since the boxes might take a lots of space in mobile screen, I've removed them if the screen withd is less than 500px */