@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
/* Menu font */
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');
/* Heading front */

body{
  margin: 0;
  font-family: mono-space;
  background-color: rgb(40,43,52);
  
}

video{
  height: 198px;
}

#container{
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  /* This centers the menu in the middle of the page */
}

#desktopMenu{

  width: 600px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin: 20px;
  /* This centers the menu boxes relative to each other. */
}

#algorithms{
  background-color: rgb(168,208,231);
}

#about{
  background-color:rgb(252,204,6);
}

#contact{
  background-color:rgb(247,233,160)
}

#projects{
  background-color: rgb(246,109,110);
}

#desktopHeading{

}

.desktopBox{
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  /* The flex above centers text in the box */

  min-width: 120px;
  height: 200px;
  margin: 4px;
  border-radius: 10px;
  font-family: 'Courier Prime', sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 800;

}

.video{
  opacity: 0%;
  transition: opacity 2s ease;
  
}

.video:hover{
  opacity: 100%;
}

.vidContainer{
  border-radius: 10px;
  border: 1px solid rgb(125,132,143);
  height: 198px;
  margin: 4px;

}

#v1, #v2, #v3{
  border-radius: 10px;
}
