body{
  margin: 0;
  font-family: sans-serif;
  background-color: rgb(40,43,52);
}

video{
margin-top: -6px;
  height: 196px;
  margin: 1px
}

#container{
  width: 570px;
  position: absolute;
  left: 30%;
  top: 10%;
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
 align-content: center;
}

#algorithms{
  background-color: rgb(55,71,132);
}

#about{
  background-color:rgb(252,204,6);
}

#contact{
  background-color:rgb(247,233,160)
}

#projects{
  background-color: rgb(246,109,110);
}

#algorithms, #about, #contact, #projects{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 200px;
  margin: 4px;
  border-radius: 10px;
}

.video{
  opacity: 0%;
  transition: opacity 2s ease;
  
}

.video:hover{
  opacity: 100%;
}

.vidContainer{
  border-radius: 10px;
  border: 1px solid rgb(125,132,143);
  height: 198px;

}

#v1, #v2, #v3{
  border-radius: 10px;
}